html {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.mainApp {
    background-color: rgb(225, 225, 225);
}

.appCard {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.appCard+.appCard {
    margin-top: 20px;
}

.main {
    height: auto;
    width: 100%;
}

.new_product {
    border-radius: 15px;
    margin-bottom: 10px;
}

.new_product h3 {
    text-align: center;
}

.show .product_list {
    flex-wrap: wrap;
}

.show .product_list li {
    width: 19%;
}

ul.product_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

ul.product_list li img {
    height: 300px;
}

ul.product_list li {
    background-color: #ffffff;
    width: 25%;
    border: 1px solid rgb(193, 193, 193);
    margin: 5px;
    float: left;
    border-radius: 5px;
    height: 420px;
    margin-bottom: 50px;
    background: rgb(239, 239, 239);
}

ul.product_list li a {
    text-decoration: none;
}

ul.product_list li img {
    width: 100%;
}

h5.price_product {
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
}

h5.title_product {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.footer {
    background-color: rgb(0, 96, 0);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* refactored header code */
.header {
    background-color: rgb(0, 96, 0);
    /* position: fixed; */
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.category__button {
    color: white;
    position: relative;
}

.sub__category {
    z-index: 100;
    display: none;
    background-color: white;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    width: 220px;
    color: black !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.category__button:hover .sub__category {
    display: flex;
}

.sub__category__item {
    transition: all linear 0.1s;
    list-style-type: none;
}

.sub__category__item a {
    display: block;
    color: black;
    text-decoration: none;
    transition: all linear 0.1s;
}

.sub__category__item:hover {
    background-color: #ececec;
}

.search__section input {
    border: unset;
    outline: unset;
    min-width: 320px;
}

.search__section button {
    border: unset;
    background-color: rgb(0, 96, 0);
    color: white;
    transition: all linear 0.1s;
}

.search__section button:hover {
    background-color: rgb(73, 122, 0);
}

.header__btn {
    border: 2px solid white;
    background-color: rgb(0, 58, 0);
    color: white;
    transition: all linear 0.1s;
    text-decoration: none;
}

.header__btn:hover {
    color: white;
    background-color: rgb(73, 122, 0);
}

.user__section {
    margin-left: 8px;
}