.orderContainer {
    /* width: 80%; */
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid red; */
}

.headerPrintOrder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

.headerPrintOrder>.storeInfo {
    text-align: center;

}

.orderInfo,
.product-table {
    margin-bottom: 20px;
}

.orderInfo p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: red;
}

.product-table>th,
.product-table>td {
    border: 1px solid red;
    padding: 8px;
    text-align: left;
    background-color: red;
}

/* th {
    background-color: red;
} */

.total {
    float: right;
}

.footerPrintOrder h2 {
    
}

p{
    font-size: 23px;
}